html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  height: 100%;
  width: 100%;
  display: block;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  touch-action: manipulation;
}

#clickIndicator {
  color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.3s ease-out;
  font-size: 4.0vh;
}

#clickIndicator.fade {
  opacity: 0;
}
